[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.13.0"
selenium = "==3.3.1"
appium-python-client = "==0.13"

[dev-packages]

[requires]
python_version = "2.7"
